body {
  background-image: url("/Images/Keys.png");
  background-repeat: no-repeat;
  background-size: 2100px 1250px;           
  background-position: center;    
  background-attachment: fixed;
  min-height: 100vh;              
  min-width: 100vw;         
  margin: 0; 
  padding: 0;
  box-sizing: border-box;                  
}

#arrow {
  position: absolute;
  top: 5px;
  left: 15px;
  cursor: pointer;
  z-index: 10;
  width: 90px;
  height: 80px;
  cursor: pointer;
}
#arrow:hover{
  transform: scale(1.1);
}

#nextpage {
  position: absolute;
  bottom: 15px;
  right: 30px;
  cursor: pointer;
  z-index: 10;
  width: 110px;
  height: 80px;
  cursor: pointer;
  transform: scaleX(-1);
}

#nextpage:hover {
  transform: scale(1.1) scaleX(-1);
}