body {
  background-image: url("/Images/BG.png");
  background-repeat: no-repeat;
  background-size: 2100px 1250px;           
  background-position: center;    
  background-attachment: fixed;
  min-height: 100vh;              
  min-width: 100vw;         
  margin: 0; 
  padding: 0;
  box-sizing: border-box;                     
}

#arrow {
  position: absolute;
  top: 5px;
  left: 15px;
  cursor: pointer;
  z-index: 10;
  width: 90px;
  height: 80px;
  cursor: pointer;
}
#arrow:hover{
  transform: scale(1.1);
}

#icon {
  position: fixed;
  top: 25px;
  right: 75px;
  z-index: 10;
}
#menu {
  position: absolute;
  top: 10%;
  left: 88%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  z-index: 5;
}


#control {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-112%, -32%); 
  z-index: 10;
  width: 60vw;
  max-width: 850px;
  min-width: 250px;
  height: auto;
  max-height: 350px;
}

#mouse {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translate(-108%, -15%); 
  z-index: 10;
  width: 80vw;
  max-width: 1000px;
  min-width: 120px;
}

body {
  opacity: 1;
  transition: opacity 0.8s ease;
}

body.fade-in {
  opacity: 0;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

@media (max-width: 800px) {
  #control {
    width: 90vw;
    height: auto;
    max-width: 95vw;
  }
  #mouse {
    width: 60vw;
    max-width: 90vw;
    top: 40vw;
  }
}