body {
  background-image: url("/Images/BG.png");
  background-repeat: no-repeat;
  background-size: cover;           
  background-position: center;    
  background-attachment: fixed;
  min-height: 100vh;              
  min-width: 100vw;         
  margin: 0; 
  padding: 0;
  box-sizing: border-box;                  
}

#back {
    position: fixed;
    top: 10px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
}

#arrow {
  position: absolute;
  top: 5px;
  left: 15px;
  cursor: pointer;
  z-index: 10;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
#arrow:hover{
  transform: scale(1.1);
}

#set {
  position: fixed;
  top: 300px;
  right: 650px;
  z-index: 10;
}

#set:hover {
  transform: scale(1.1);
}

#credits {
  position: fixed;
  top: 500px;
  right: 650px;
  z-index: 10;
}

#credits:hover {
  transform: scale(1.1);
}