body {
  background-image: url("/Images/Title.png");
  background-repeat: no-repeat;
  background-size: 1370px 850px;
background-position: left
  
}

#cogwheel {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  z-index: 10;
}
#cogwheel:hover {
  transform: scale(1.1);
}

#play {
  position: absolute;
  bottom: -120px;
  right: 60px;
  cursor: pointer;
  z-index: 10;
}
#play:hover {
  transform: scale(1.1);
}
h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}